auto-save-list/
tmp/
url/
transient/
elpa/
el-get/
eln-cache/
init/
undohist/
undotree/
wordfreq-dicts/
tree-sitter/
persist/
local_custom.el
*.elc
history
bookmarks
kkcrc
tramp
srecode-map.el
recentf
request
custom.el
.org-generic-id-locations
.org-id-locations
oauth2-auto.plist
