._*
#*#
.#*
*.nfs*
Thumbs.db
.python-environments/
auto-save-list/
undohist/
url/
init/
request/
el-get/el-get/
elpa/
el-get/.*
.mc-lists.el
srecode-map.el
*.elc
ac-comphist.dat
network-security.data
bookmarks
recentf
.persistent-scratch
api_keys.el
eln-cache
